<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
        <h2></h2>
        <small></small>
        <span class="label label-xs label-danger" ng-if="isLoading">로딩중</span>
        <button class="btn btn-xs btn-warning" ng-click="refreshLabs()" ng-if="!isLoading">새로고침</button>

        <table class="table table-hover no-margins">
            <thead>
            <tr>
                <th>#</th>
                <th>Location</th>
                <th>IP address</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lab in labs track by $index">
                <td><span class="label label-success">1</span></td>
                <td>{{lab.location}}</td>
                <td>{{lab.ip}}</td>
                <td><span class="label" ng-class="{'label-warning': lab.status == 'offline', 'label-info': lab.status == 'online'}">{{lab.status}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Functions</h3>
        <div class="col-xs-4" ng-repeat="lab in labs track by $index" ng-if="lab.status != 'offline'">
            <h4>{{lab.location}}</h4>
            <button class="btn btn-xs btn-success" ng-click="update_lab(lab)">전송</button>
            <button class="btn btn-xs btn-info" ng-click="videoManage(lab)">비디오 관리</button>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-xs-6">
                    <h5>CREST API</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch1{{$index}}" ng-model="lab.functions.pcarsData">
                            <label class="onoffswitch-label" for="switch1{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h5>버튼 컨트롤러</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch1-1{{$index}}" ng-model="lab.functions.serialActivate">
                            <label class="onoffswitch-label" for="switch1-1{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-xs-6">
                    <h5>데이터 수집</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch2{{$index}}" ng-model="lab.functions.dataCollect">
                            <label class="onoffswitch-label" for="switch2{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h5>영상 녹화</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch3{{$index}}" ng-model="lab.functions.recording">
                            <label class="onoffswitch-label" for="switch3{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>Rule Based Speaker</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch4{{$index}}" ng-model="lab.functions.ruleBase.overtake || lab.functions.ruleBase.chase || lab.functions.ruleBase.mapDistance" ng-click="turnRb(lab)">
                            <label class="onoffswitch-label" for="switch4{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h5>추월</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch5{{$index}}" ng-model="lab.functions.ruleBase.overtake">
                            <label class="onoffswitch-label" for="switch5{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h5>추격</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch6{{$index}}" ng-model="lab.functions.ruleBase.chase">
                            <label class="onoffswitch-label" for="switch6{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h5>맵정보</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch7{{$index}}" ng-model="lab.functions.ruleBase.mapDistance">
                            <label class="onoffswitch-label" for="switch7{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>Deep Learning Based Speaker</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch8{{$index}}" ng-model="lab.functions.deepLearning.ageGender">
                            <label class="onoffswitch-label" for="switch8{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h5>나이/성별 추측</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch9{{$index}}" ng-model="lab.functions.deepLearning.ageGender">
                            <label class="onoffswitch-label" for="switch9{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>Robot Hooker</h5>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch10{{$index}}" ng-model="lab.functions.hooker">
                            <label class="onoffswitch-label" for="switch10{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            


        </div>
    </div>
    <div class="col-sm-3">
        <h3>Managing Video: {{currentLab.location}}</h3>
        <div class="row">
            <div class="col-xs-12">
                <h4>Available Devices</h4>
                <button class="btn btn-xs btn-success" ng-click="updateVideo(currentLab)">전송</button>
                <button class="btn btn-xs btn-warning" ng-click="refreshVideoDevices(currentLab)">새로고침</button>
                <div class="hr-line-dashed"></div>
                <div class="static-box" ng-repeat="dev in currentLab.total_devices track by $index">
                    <h5>/dev/video{{dev}} </h5>
                    
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="switch_v{{$index}}" ng-model="currentLab.active_devices[dev]">
                            <label class="onoffswitch-label" for="switch_v{{$index}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                
                    <button class="btn btn-xs btn-info" ng-click="getVideoList(currentLab,dev)">File list</button> 
                    <button class="btn btn-xs btn-info" value="http://lab4.hwanmoo.kr:5800/stream.webm" ng-click="turnStreamingOn(currentLab,dev)">Live Streaming</button> 
                </div>
                
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Video List for /dev/video{{currentDev}}</h4>
                <button class="btn btn-xs btn-warning m-xxs" ng-repeat="video in currentLab.videoList[currentDev]" ng-click="downloadVideo(currentLab,video,currentDev)">
                    {{video | str2date}}
                </button>

            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-xs-12"> 
                <h4>Live Streaming from /dev/video{{currentDev}}</h4>
                <div ng-if="isChrome">
                    <span class="label label-xs label-warning" ng-if="config.streamingOn == false">offline</span>
                    <span class="label label-xs label-success" ng-if="config.streamingOn == true">online</span>
                    <video class="m-t-xs" src="" id="s_vid" controls></video>
                </div>

                <div ng-if="!isChrome">
                    <h5>Only Available in Chrome Browser</h5>
                </div>
                

            </div>
        </div>
        
    </div>

</div>